.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.breakSessionWrapper {
  display: flex;
  justify-content: space-evenly;
}
.incDecWrapper {
  display: flex;
  flex-direction: column;
}
.break,
.session {
  display: flex;
  align-items: center;
}

.timerWrapper {
  display: flex;
  justify-content: center;
}
